In [1]:
import pandas as pd

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [29]:
df = pd.read_excel('classification.xlsx', header=1, sheet_name = 0)

In [31]:
df1 = pd.read_excel('classification.xlsx', header=1, sheet_name = 1)  # Замените 'your_file.xlsx' на имя вашего файла

In [33]:
df = pd.concat([df, df1])

In [36]:
def all_values_same(row):
    return row.nunique() == 1

df_filtered = df[~df.apply(all_values_same, axis=1)]

In [38]:
df_filtered.dropna(how='all', inplace=True)

In [41]:
df_filtered['Длина кода'] = df_filtered['Код ресурса'].astype(str).apply(len)

result_df = df_filtered.loc[df_filtered.groupby('Наименование')['Длина кода'].idxmax()]

result_df = result_df.drop(columns='Длина кода')

In [46]:
result_df

,Код ресурса,Наименование,Ед.изм.
152177,27.33.13.130.59.1.20.02-2887-000,"DIN-рейка 15x5,5 мм перфорированная, горячеоци...",м
152179,27.33.13.130.59.1.20.02-2888-000,"DIN-рейка 15x5,5 мм перфорированная, из нержав...",м
152181,27.33.13.130.59.1.20.02-2889-000,"DIN-рейка 15x5,5 мм перфорированная, из оцинко...",м
152199,27.33.13.130.59.1.20.02-2898-000,"DIN-рейка 35x15 мм перфорированная, горячеоцин...",м
152201,27.33.13.130.59.1.20.02-2899-000,"DIN-рейка 35x15 мм перфорированная, из нержаве...",м
...,...,...,...
208368,27.12.31.000.89.1.62.01-0749-000,"Ящики силовые с понижающим трансформатором, кл...",шт
208338,27.12.31.000.89.1.62.01-0734-000,"Ящики силовые, тип ЯВЗ-32-1, с выключателем, 3...",шт
208048,27.12.31.000.89.1.62.01-0589-000,"Ящики управления двигателями, тип РУСМ 5111-18...",шт
208212,27.12.31.000.89.1.62.01-0671-000,"Ящики, тип Я8101-397-54У1, распределительные с...",шт
208332,27.12.31.000.89.1.62.01-0731-000,"Ящики, тип ЯТП-0.25, с трансформатором понижающим",шт

In [45]:
result_df.to_csv('ksr_clean.csv', index = False)